/*https://www.queness.com/post/256/vertical-scroll-menu-with-jquery-tutorial*/

.manga-sidenav{
	display: table-cell;
	width: 20%;
	height: inherit;
	left: 0;
	background-color: #FFCC66;
	display: block;
	float: left;
	overflow-y: scroll;
	position: inherit;
}

.manga-sidenav button {
	background-color: #FFCC66;
	border-style: none;
	transition: 0.7s;
}
.manga-sidenav button:focus {
	background-color: #FFB226;
}

.header-menu {
	width: 60%;
	margin: 20px 50px;
	display: block;
	cursor: pointer;
	transition: 0.5s;
}

img.header-menu {
	border-style: ridge;
}

img.header-menu:hover {
	box-shadow: 3px 3px 5px #999;
}

.manga-content {
	margin-left: 20%;
	background-color: white;
	width: 80%;
	height: 50em;
	text-align: justify;
	font-size: 16px;
	color: black;
	padding: 0px 15px 0px 0px;
}

/*manga title moe learning*/
.manga-title {
	color: orange;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
}

/*manga images 4koma*/
.manga {
	height: 50em;
	padding: 20px;
	overflow: hidden;
	float: left;
}

/*unordered list of kanji*/
.list {
	list-style: none;
}

.list li {
	font-family: 'Open Sans', sans-serif;
}

.list li:before {
	content: "▪ ";
	padding-right: 8px;
	color: orange;
}

/*learn more link*/
.manga-content a:link,.manga-content a:visited{
	color: white;
	text-decoration: none;
	background-color: rgba(255, 165, 0, 0.6);
	transition-duration: 0.3s;
	padding: 12px 10px;
	border-radius: 4px;
}

.manga-content a:hover {
	background-color: rgba(255, 165, 0, 1);
}