.moekana-row {
  display: flex;
  width: 100%;
}

.moekana-column {
  flex: 50%;
  height: auto;
  max-height: 500px;
  overflow: hidden;
}
.moekana-images {
    transform: translate(-20%, 0);
    object-fit: cover;
    display: inline-block;
    filter: blur(3px);
}

.moekana-images:hover {
  filter: blur(0px);
}

.moekana-column a{
  font-size: 60px;
  font-family:'Rock Salt', Lucida Sans Unicode;
  text-decoration: none;
  opacity: 1;
  padding: 10px 10px;
  color: #333333;
}

.moekana-column a:hover{
  filter: blur(0px);
  text-shadow: 4px 4px 8px #999999;

}

.center-left {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%,0);
  background-color: white;
  opacity: 0.7;
  border-radius: 10%;
}

.center-left:hover, .center-right:hover {
      box-shadow: 5px 10px 8px #888888;
}


.center-right {
  position: absolute;
  top: 25%;
  right: 25%;
  transform: translate(+50%,0);
  background-color: orange;
  opacity: 0.7;
  border-radius: 10%;

}
